@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,
.signup-div {
  font-family: 'Roboto', sans-serif;
  background: #f0f0ff;
}

.signup-div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-contents: center;
  align-items: center;
}

.signup {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: stretch;
}
